@{
    ViewData["Title"] = "Creator Accounts";
}

<h1>Creator Accounts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Creator Account Type
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.UserList)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    <input type="checkbox" checked="@item.Role">
                </td>
            </tr>
        }
    </tbody>
</table>